{% extends 'base.html' %}
{% load static %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/directs.css' %}">
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static "js/directs.js" %}"></script>
{% endblock %}

{% block content %}

    <main class="main-container">
        <div class="container p-0 mt-5">
            <h1 class="mb-3">Messages</h1>
            <div class="card">
                <div class="row g-0">
                    <div class="col-md-4 col-12 direct-list">

                        <div class="px-4 d-none d-md-block">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <a href="{% url 'usersearch' %}" class="btn btn-primary mb-4 mt-4" type="button">New message</a>
                                </div>
                            </div>
                        </div>
                        {% for chat in chats %}
                            <a href="{% url 'directs' chat.user.username %}" class="list-group-item list-group-item-action border-0 {% if active_direct == chat.user.username %}active{% endif %}">
                                <div class="d-flex align-items-center pb-2">
                                    <img src="{{ chat.user.profile.profile_image.url }}" class="rounded-circle mr-1" style="object-fit: cover" alt="img" width="56" height="56">
                                    <div class="chat-name ms-3">
                                        <b>{{chat.user.profile.first_name}} {{chat.user.profile.last_name}}</b>
                                        <div class="small">
                                            @{{chat.user.username}}
                                        </div>
                                    </div>
                                    {#  Numero messaggi non letti se presenti #}
                                    {% if chat.unread > 0 %}
                                        <div class="badge bg-success"></div>
                                        <div class="unread-counter">
                                            <p class="mb-0">
                                                <b>{{ chat.unread }} unread</b>
                                            </p>
                                        </div>
                                    {% endif %}
                                </div>
                            </a>
                        {% endfor %}
                    </div>


                    <div class="col-xl-8 col-lg-8 col-md-8 col-12">
                        <div class="py-2 px-4 border-bottom d-lg-block">
                            <div class="d-flex align-items-center py-1">
                                <div>
                                    {{ active_direct }}
                                </div>
                            </div>
                        </div>

                        <div class="chat-container">
                            <div class="chat-messages p-4" id="chat_messages">

                                {% for direct in directs %}
                                    {% if direct.sender == request.user %}
                                        <div class="chat-message-right pb-2">
                                            <div>
                                                <img src="{{ direct.sender.profile.profile_image.url }}" class="rounded-circle ms-3" alt="img" width="40" height="40">
                                                <div class="text-muted small text-nowrap mt-2">
                                                    <p class="direct-date">{{direct.date|date:"d M, Y"}}</p>
                                                </div>

                                            </div>
                                            <div class="chat-bubble">
                                                {{direct.body}}
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="chat-message-left pb-2">
                                            <div>
                                                <img src="{{ direct.sender.profile.profile_image.url }}" class="rounded-circle mr-1" alt="img" width="40" height="40">
                                                <div class="text-muted small text-nowrap mt-2">
                                                    <p class="direct-date">{{direct.date|date:"d M, Y"}}</p>
                                                </div>

                                            </div>
                                            <div class="chat-bubble">
                                                {{direct.body}}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}


                            </div>
                        </div>


                        <div class="message-container">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="row" style="height: 15px">
                                    <div class="textarea-container col-10">
                                        {{ form.body }}
                                    </div>
                                    <button class="btn btn-primary btn-submit col-2" type="submit">Send</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock content %}