{% extends 'base.html' %}
{% load static %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/directs.css' %}">
{% endblock %}

{% block content %}

    <main class="main-container">
        <div class="container p-0 mt-5">
            <h1 class="mb-3">Messages</h1>

            <div class="card" style="min-height: 500px">
                <div class="row g-0" style="min-height: 500px">

                    <div class="col-md-4 col-12 direct-list">
                        {#  Lista chat disponibili #}
                        {% for chat in object_list %}
                            <a href="{% url 'directs' chat.user.username %}" class="list-group-item list-group-item-action border-0">
                                <div class="d-flex align-items-center pb-2">
                                    <img src="{{ chat.user.profile.profile_image.url }}" class="rounded-circle mr-1" style="object-fit: cover" alt="img" width="56" height="56">
                                    <div class="chat-name ms-3">
                                        <b>{{chat.user.profile.first_name}} {{chat.user.profile.last_name}}</b>
                                        <div class="small">
                                            @{{chat.user.username}}
                                        </div>
                                    </div>
                                    {#  Numero messaggi non letti se presenti #}
                                    {% if chat.unread > 0 %}
                                        <div class="badge bg-success"></div>
                                        <div class="unread-counter">
                                            <p class="mb-0">
                                                <b>{{ chat.unread }} unread</b>
                                            </p>
                                        </div>
                                    {% endif %}
                                </div>
                            </a>
                        {% endfor %}
                    </div>

                    {# Riquadro vuoto per inviare un nuovo messaggio #}
                    <div class="col-xl-8 col-lg-8 col-md-8 col-12 d-flex justify-content-center">
                            <div class="d-flex flex-column align-items-center justify-content-center">
                                <svg aria-label="Direct" color="#262626" fill="#262626" height="96"
                                     role="img" viewBox="0 0 96 96" width="96">
                                    <circle cx="48" cy="48" fill="none" r="47" stroke="currentColor"
                                            stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></circle>
                                    <line fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2"
                                          x1="69.286" x2="41.447" y1="33.21" y2="48.804"></line>
                                    <polygon fill="none"
                                             points="47.254 73.123 71.376 31.998 24.546 32.002 41.448 48.805 47.254 73.123"
                                             stroke="currentColor" stroke-linejoin="round" stroke-width="2"></polygon>
                                </svg>
                                <div class="">
                                    <h2 class="mt-3">Your Messages</h2>
                                </div>
                                <div class="mt-1">
                                    Send private photos and messages to a friend or group.
                                </div>
                                <div class="mt-3">
                                    <a href="{% url 'usersearch' %}" class="btn btn-primary" type="button">Send Message</a>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock content %}