{% extends 'base.html' %}
{% load static %}
{% block content %}

    <main style="margin-top: 100px">
        <div class="container">
            <h1 class="h3 mb-3">Start a new conversation</h1>

            <div class="row g-0">
                <div class="col-12">
                    <div class="form-data">

                        <form method="GET">
                            <div class="direct__search d-flex">
                                <input type="text" placeholder="Type username here..." name="q" value="{{ request.GET.q }}">
                                <button class="btn btn-primary" type="submit">Search</button>
                            </div>
                        </form>


                        {% for user in object_list %}
                            <div class="side-menu__user-profile"
                                 style="text-align: start; border: solid rgba(192, 192, 192, 0.514) 1px; padding: 10px;">
                                <a href="{% url 'profile' user.username %}" class="side-menu__user-avatar">
                                    {% if user.profile.profile_image.url %}
                                        <img src="{{ user.profile.profile_image.url }}" alt="User Picture">
                                    {% else %}
                                        <img src="{% static 'images/default-user.png' %}"
                                             alt="User Picture">

                                    {% endif %}
                                </a>
                                <div>
                                    {% if user.profile.first_name %}
                                        <a href="{% url 'profile' user.username %}"
                                           style="font-size: 15px; color: black; text-align: center;">{{ user.profile.first_name|title }} {{ user.profile.last_name|title }}</a>
                                    {% else %}
                                        <a href="{% url 'profile' user.username %}">Instagram User</a>

                                    {% endif %}
                                    <br>
                                    <span style="font-size: 14px;">@{{ user.username }}</span>
                                    <br>
                                    <a href="{% url 'newmessage' user.username %}" style="color: blue;"
                                       class="side-menu__user-button">Send message</a>
                                    <a href="{% url 'profile' user.username %}" style="color: blue;"
                                       class="side-menu__user-button">View profile</a>
                                </div>
                            </div>
                            <!-- <hr> -->
                            {% empty %}
                            <div class="side-menu__user-profile" style="text-align: start; padding: 10px 10px 10px 0;">
                                <h5>No results found.</h5>
                            </div>
                        {% endfor %}


                    </div>
                </div>
            </div>
            {% if object_list|length > 0 %}
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1&amp;{{ view.querystring }}">&laquo; first</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}&amp;{{ view.querystring }}">previous</a>
                        </li>
                    {% endif %}

                    {% for page_number in page_obj.paginator %}
                        {% if page_obj.number == page_number.number %}
                            <li class="page-item active">
                                <a class="page-link" href="?page={{ page_number.number }}&amp;{{ view.querystring }}">{{ page_number.number }}</a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_number.number }}&amp;{{ view.querystring }}">{{ page_number.number }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}&amp;{{ view.querystring }}">next</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&amp;{{ view.querystring }}">last &raquo;</a>
                        </li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
    </main>


{% endblock content %}