@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* CSS Reset */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*, button, input, select, textarea {
    font-family: 'Roboto', sans-serif;
}

/* Vars */
:root {
    --primary: hsl(0, 0%, 100%);
    --secondary: hsl(0, 0%, 98%);
    --border: hsl(0, 0%, 86%);

    --story-border: hsl(0, 0%, 78%);
    --img-border: hsla(0, 0%, 0%, 0.1);

    --text-dark: hsl(0, 0%, 15%);
    --text-light: hsl(0, 0%, 60%);

    --like: hsl(355, 82%, 61%);
    --link: hsl(204, 100%, 48%);

    --header-height: 44px;
    --nav-height: 44px;
}

/* -------------------------------------------------- */

/* General Styles */
body {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

svg { display: block; }

img { max-width: 100%; }

a {
    text-decoration: none !important;
}

/* -------------------------------------------------- */

/* Header Navbar */
.header {
    width: 100%;
    height: var(--header-height);

    display: flex;
    justify-content: center;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #ffffff;
    border-bottom: 0.1rem solid var(--border);
}

.nav-logo {
    max-width: 60px;
}

.header__content {
    width: 100%;
    max-width: 975px;

    padding: 0 14px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__home {
    margin-top: 5px;
}

.header__search {
    width: 216px;
    height: 28px;
    display: flex;
    align-items: center;
    position: relative;
}
.header__search svg {
    width: 12px;
    height: 12px;

    position: absolute;
    left: 8px;
}
.header__search input {
    width: 100%;
    height: 100%;

    padding: 4px 10px 4px 28px;
    border: 1px solid var(--border);
    border-radius: 4px;
    outline: none;

    font-size: 12px;
    font-weight: 300;
    text-decoration: none;
    color: var(--text-light);

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.header__search input:focus {
    color: var(--text-dark);
}


.search-dropdown {
    top: 30px;
    display: block !important;
    min-width: 100% !important;
}

.dropdown-mobile {
    transform: translate3d(-116px, 40px, 0px) !important;
    min-width: 150px !important;
}

.dropdown-menu {
    padding: .1rem 0 !important;
}

.dropdown-item {
    padding: .5rem .5rem !important;
}

.dropdown-mobile-item {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.dropdown-mobile-item > span {
    margin-left: 2rem;
    color: #262626;
    font-size: 13px;
}

.dropdown-item:not(:last-child){
    border-bottom: 1px solid #d9d9d9;
}

.dropdown-item:active{
    background-color: #e9ecef !important;
}

.dropdown-name, .dropdown-username {
    font-size: 12px;
    text-decoration: none;
    margin-left: 1rem;
    max-width: 180px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.dropdown-name {
    font-weight: 500;
    color: var(--text-dark);
}

.dropdown-username {
    font-weight: 400;
    color: var(--text-light);
}

.close-notification-box {
    border: 0;
    background-color: transparent;
}

.header__buttons {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 1rem;
}

/* Main Content */
.main-container {

    margin-top: var(--header-height);
    margin-bottom: var(--nav-height);

    display: flex;
    flex: 1;
}

.content-container {
    width: 100%;
    max-width: 935px;

    padding: 0 0 8px;
    margin: 0 auto;
    display: flex;
}

.content {
    width: 100%;
    max-width: 614px;

    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.button_container {
    position: relative;
    display: flex;
    flex: 0 0 auto;
    justify-content: flex-start;
    flex-direction: column;
    align-content: stretch;
    align-items: stretch;
}


.direct__search {
    display: flex;
    position: relative;
}

.direct__search input {
    width: 30%;
    padding: 4px 10px 4px 10px;
    border: 1px solid var(--border);
    border-radius: 4px;
    outline: none;
    margin-right: -10px;

    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    color: var(--text-light);

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.unread_message_container{
    top: -2px;
    right: -5px;
    z-index: 1;
    position: absolute;
}

.unread_notification_container {
    top: 7px;
    right: 7px;
    line-height: 18px;
    z-index: 1;
    position: absolute;
}

.unread_message_badge {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    height: 13px;
    border: 1.5px solid red;
    border-radius: 55%;
    background-color: #ff3041;
}

.unread_notifications_badge {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    height: 10px;
    border: 1.5px solid red;
    border-radius: 100px;
    line-height: 18px;
    font-size: .6875rem;
    min-width: 10px;
    background-color: #ff3041;
}

.unread_message_count {
    font-weight: 600;
    font-size: .675rem;
    padding: 0 2px 0 2px;
    z-index: 1;
    text-decoration: none;
    color: white;
}

.user-info {
    padding: 0 8px;
}

/* --------------------------------------- POST --------------------------------------- */

.post {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.posts {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 8px;
}

.post__header {
    border-bottom: 1px solid var(--border);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}
.post__profile {
    display: flex;
    align-items: center;
    gap: 12px;
}
.post__avatar > img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    object-fit: cover;
}

.carousel-inner {
    display: flex;
    align-items: center;
    min-height: 250px;
}

.carousel-control-next, .carousel-control-prev {
    bottom: 22% !important;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 5rem !important;
    height: 5rem !important;
}

.likedby-form {
    margin: 3px 0 0 3px;
}

.post__user {
    font-size: 14px;
    font-weight: 500;
    color: var(--text-dark);
    text-decoration: none;
    text-transform: lowercase;
}
.post__user:hover {
    text-decoration: underline;
}

.post__media {
    width: 100%;
    flex: none;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.post__footer {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 0 4px;
}

.post__buttons {
    display: flex;
    position: relative;
}

.post__button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 8px;
    outline: none;
}

.post__button:focus {
    outline: none;
}

.liked {
    fill: #ed4956;
    color: #ed4956;
    animation-duration: .45s;
    animation-name: like-button-animation;
    animation-timing-function: ease-in-out;
    transform: scale(1);
}

.notliked {
    fill: #262626;
    animation-duration: .45s;
    animation-name: unlike-button-animation;
    animation-timing-function: ease-in-out;
    transform: scale(1);
}

.saved {
    color: #262626;
    fill: #262626;
}

.notsaved {
    color: #000;
    fill: none;
}

.notsaved > path {
    stroke: #000;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2;
    transition: all ease-in-out 1s;
}


@keyframes like-button-animation {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.2);
    }
    50% {
        transform: scale(.95);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes unlike-button-animation {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.2);
    }
    50% {
        transform: scale(.95);
    }
    100% {
        transform: scale(1);
    }
}

.post__button--align-right {
    margin-left: auto;
}

.post__infos {
    display: flex;
    flex-direction: column;
    padding: 0 8px;
    gap: 10px;
}
.post__likes,
.post__description,
.post__tags {
    display: flex;
}

.post__likes {
    align-items: center;
    gap: 6px;
}

.post__likes-avatar > img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
.post__likes-avatar::after > img {
    content: '';
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;

    border: 1px solid var(--img-border);
    border-radius: 50%;
}

.avatars__one, .avatars__two, .avatars__three {
    display: flex;
}

.avatars__two > .post__likes-avatar.n1, .avatars__three > .post__likes-avatar.n1 {
    margin-right: -12px;
    border-radius: 50%;
    border: 3px solid white;
    z-index: 2;
}

.avatars__three > .post__likes-avatar.n2 {
    margin-right: -12px;
    border-radius: 50%;
    border: 3px solid white;
    z-index: 1;
}

.avatars__one > .post__likes-avatar.n1, .avatars__two > .post__likes-avatar.n2, .avatars__three > .post__likes-avatar.n3 {
    border: 3px solid white;
    border-radius: 50%;
}

.avatars__three :nth-child(n+4) {
    display: none;
}

.likes-modal-button {
    background: transparent;
    border: 0;
    font-size: 14px;
}

.post__likes span,
.post__description span,
.post__tags span {
    font-size: 14px;
    font-weight: 400;
    color: var(--text-dark);
}
.post__likes a,
.post__description a,
.post__tag a {
    font-size: 14px;
    font-weight: 500;
    color: var(--text-dark);
    text-decoration: none;
}
.post__name--underline:hover {
    text-decoration: underline;
}
.post__date-time {
    font-size: 10px;
    font-weight: 400;
    color: var(--text-light);
    text-transform: uppercase;
}

.comment-section {
    display: flex;
    border-top: 1px solid #EFEFEFFF;
    color: #8E8E8EFF;
    flex-shrink: 0;
    font-size: 14px;
    justify-content: center;
    line-height: 18px;
    position: relative;
    padding: 16px 16px 0px 16px;
}

.comment-info {
    text-decoration: none;
    margin-left: 10px;
    font-size: 12px;
}

.comment-block {
    margin: .5rem 4rem 1rem 3rem;
    font-size: 13px;
}

.comment-text {
    word-break: break-word;
}

.comment-form {
    align-items: center;
    border: 0;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
    font: inherit;
    font-size: 100%;
    margin: 5px 0 0 15px;
    padding: 0;
    position: relative;
    vertical-align: baseline;
}

.comment-textarea {
    background: none;
    border: none;
    color: #262626FF;
    display: flex;
    flex-grow: 1;
    font-size: inherit;
    height: 50px;
    max-height: 80px;
    max-width: 100%;
    outline: none;
    padding: 0;
    resize: none;
    width: 0;
}

.comment-button {
    border: 0;
    color: #262626FF;
    display: inline-block;
    padding: 0!important;
    position: relative;
    -webkit-appearance: none;
    background: none;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: inherit;
    -webkit-user-select: none;
    width: auto;
    margin: 0 0 31px 20px;
}

/* --------------------------------------- SIDE MENU --------------------------------------- */
.side-menu {
    max-width: 290px;
    position: fixed;
    left: 50%; top: 84px;
    transform: translateX(calc(-50% + 322px));

    display: none;
    flex-direction: column;
}

.side-menu__user-profile {
    display: flex;
    align-items: center;

    margin: 20px 0 22px;
}
.side-menu__user-avatar {
    margin-right: 12px;
}

.side-menu__user-avatar > img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    object-fit: cover;
}

.side-menu__user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    gap: 4px;
}
.side-menu__user-info a {
    font-size: 14px;
    font-weight: 500;
    color: var(--text-dark);
    text-decoration: none;

    max-width: 180px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.side-menu__user-info span {
    font-size: 14px;
    font-weight: 400;
    color: var(--text-light);

    max-width: 180px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.side-menu__user-button {
    background-color: transparent;
    border: none;
    cursor: pointer;

    font-size: 12px;
    font-weight: 500;
    color: var(--link);

    flex-shrink: 0;
}

.side-menu__suggestions-section {
    display: flex;
    flex-direction: column;
}
.side-menu__suggestions-header {
    display: flex;
    justify-content: space-between;
}
.side-menu__suggestions-header h2 {
    font-size: 14px;
    font-weight: 500;
    color: var(--text-light);
}
.side-menu__suggestions-header button {
    background-color: transparent;
    border: none;
    cursor: pointer;

    font-size: 12px;
    font-weight: 500;
    color: var(--text-dark);
}

.side-menu__suggestions-content {
    display: flex;
    flex-direction: column;
    gap: 16px;

    margin: 16px 0 24px;
    padding-left: 4px;
}
.side-menu__suggestion {
    display: flex;
    align-items: center;
}

.side-menu__suggestion-avatar {
    margin-right: 12px;
}

.side-menu__suggestion-avatar > img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}


.side-menu__suggestion-info {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex: 1;
    gap: 2px;
}
.side-menu__suggestion-info a {
    font-size: 14px;
    font-weight: 500;
    color: var(--text-dark);
    text-decoration: none;

    max-width: 180px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.side-menu__suggestion-info a:hover {
    text-decoration: underline;
}

.side-menu__suggestion-info span {
    font-size: 12px;
    font-weight: 400;
    color: var(--text-light);

    max-width: 180px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.side-menu__suggestion-button {
    background-color: transparent;
    border: none;
    cursor: pointer;

    font-size: 12px;
    font-weight: 500;
    color: var(--link);

    flex-shrink: 0;
    margin-left: 15px;
}

/* Media Queries */
@media (max-width: 767px) {
    .header__buttons--desktop {
        display: none;
    }
}

@media (min-width: 620px) {
    .content-container {
        padding: 30px 0 24px;
    }

    .content {
        gap: 24px;
    }

    .posts {
        gap: 24px;
    }
    .post {
        border: 1px solid var(--border);
        border-radius: 4px;
    }
    .post__footer {
        padding: 4px 8px 12px;
    }
    .post__date-time {
        margin-top: 6px;
    }
}

@media (min-width: 768px) {
    :root {
        --header-height: 54px;
        --nav-height: 0px;
    }

    .header__content {
        padding: 0 20px;
    }

    .header__search {
        display: flex;
    }

    .header__buttons--mobile {
        display: none;
    }

    .navbar {
        display: none;
    }
}

@media (min-width: 1024px) {
    /*.main-container {*/
    /*    background-color: var(--secondary);*/
    /*}*/

    /* CONTROLLO */
    .content {
        margin: unset;
    }

    .side-menu {
        display: flex;
    }
}
