.chat-messages {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 500px;
}

.direct-list {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    border-right: 1px solid #00000020;
    height: 623px;
}

.list-group-item.active {
    z-index: 1;
    font-size: 14px;
    font-weight: 400;
    color: rgb(38, 38, 38);
    background-color: rgb(239, 239, 239);
}

.list-group-item {
    font-size: 14px;
}

.chat-message-left,
.chat-message-right {
    display: flex;
    flex-shrink: 0
}

.chat-message-left {
    margin-right: auto
}

.chat-message-right {
    flex-direction: row-reverse;
    margin-left: auto
}

.chat-container {
    position: relative;
    border-right: 0;
}

.chat-name {
    flex-grow: 1;
}

.unread-counter {
    width: 25%;
    text-align: right;
}

.badge:empty {
    display: inline-block;
}

.bg-success {
    background-color: #0d6efd !important;
}

.badge {
    display: inline-block;
    padding: .35em .35em;
}

.chat-bubble {
    vertical-align: middle;
    align-self: flex-start;
    border-radius: 22px !important;
    cursor: default;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 35px;
    padding: 10px 15px !important;
    font-size: 14px;
    background-color: rgb(231 231 231) !important;
    word-break: break-word;
    max-width: 350px;
}

.message-container {
    align-items: center;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 22px;
    box-sizing: border-box;
    font: inherit;
    font-size: 100%;
    min-height: 44px;
    padding: 0;
    margin: 15px 15px 15px 15px;
    vertical-align: baseline;
}

.textarea-container {
    flex: 1 1 auto;
    min-height: 0;
    min-width: 0;
    justify-content: flex-start;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
    display: flex;
    box-sizing: border-box;
    position: relative;
}

.message-textarea {
    background-color: transparent;
    border: none;
    overflow: auto;
    padding: 10px 25px;
    resize: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-size: 14px;
    height: 42px;
}

.direct-date {
    font-size: 10px;
}

.btn-submit {
    background-color: transparent !important;
    color: rgb(0, 149, 246) !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    border-color: transparent !important;
}

.rounded-circle {
    object-fit: cover;
}

@media (max-width: 1200px) {
    .unread-counter {
        display: none;
    }

    .list-group-item.list-group-item-action.border-0 {
        padding: .5rem 0 .5rem 1rem;
    }
}

@media (max-width: 767px) {
    .direct-list {
        max-height: 200px;
        border-right: 0;
        border-bottom: 1px solid #00000020;
    }

    .chat-messages {
        max-height: 450px;
        border-right: 0;
        border-bottom: 1px solid #00000020;
    }

    .list-group-item.list-group-item-action.border-0 {
        padding: .5rem 1rem;
    }

}