.hidden {
    display: none !important;
}

.notification-dropdown {
    float: right;
    position: relative;
    display: inline-block;
}

.inner-dropdown {
    position: absolute;
    top: 46px;
    background-color: #ffffff;;
    min-width: 300px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    right: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 1.25rem;
    word-wrap: break-word;
}

.post-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    position: relative;
}

.notification-detail {
    display: flex;
    font-size: 14px;
    text-decoration: none;
    color: #212529;
}

.notification-text {
    margin-left: 2rem;
    margin-bottom: 0;
}


.notification-date {
    font-size: 10px;
}

.bottom-notification {
    border-bottom: 0 !important;
    border-top: 1px solid rgba(0,0,0,.125);
    text-align: center;
}

.view-all {
    font-size: 14px;
    color: #262626;
    text-decoration: none;
}

.notification-list-box {
    background-color: transparent;
    transition: .2s ease-in-out;
    max-width: 540px;
}

.notification-list-box:hover {
    background-color: #b7b7b742;
    transition: .2s ease-in-out;
}

.notification-list-href {
    text-decoration: none;
    color: #262626;
}

.notification-list-img > img {
    width: 100px;
    height: 100px;
    object-fit: scale-down;
    margin: 0 auto;
}


.notification-list-body > .card-text {
    font-size: 15px;
    text-decoration: none;
    color: #262626;
}

.remove-notification {
    position: absolute;
    right: 0;
    background-color: transparent;
    border: 0;
    margin: 1rem 1rem 0 1rem;
}