/* Base Styles */

:root {
    font-size: 10px;
}

.unread_message_count {
    font-size: 1rem !important;
}

.header__buttons, .dropdown-menu {
    font-size: 1.6rem !important;
}

.swal2-popup {
    font-size: 1.6rem !important;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/*body {*/
/*    font-family: "Open Sans", Arial, sans-serif;*/
/*    font-size: 10px;*/
/*    min-height: 100vh;*/
/*    background-color: #fafafa;*/
/*    color: #262626;*/
/*}*/

img {
    display: block;
}

.container {
    max-width: 93.5rem;
    margin: 0 auto;
    padding: 0 2rem;
}

.btn {
    display: inline-block;
    font: inherit;
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    cursor: pointer;
}

.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

/* Profile Section */

.profile {
    padding: 5rem 0;
}

.profile::after {
    content: "";
    display: block;
    clear: both;
}

.profile-image {
    float: left;
    width: calc(33.333% - 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
}

.profile-image img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.profile-user-settings,
.profile-stats,
.profile-bio {
    float: left;
    width: calc(66.666% - 2rem);
}

/*.profile-user-settings {*/
/*    margin-top: 1.1rem;*/
/*}*/

.profile-user-name {
    display: inline-block;
    font-size: 3.2rem;
    font-weight: 300;
}

.profile-edit-btn {
    font-size: 1.4rem;
    line-height: 1.8;

    border-radius: 0.3rem;
    padding: 0 2.4rem;
    margin-left: 2rem;
}

.profile-follow-btn, .profile-unfollow-btn, .profile-message-btn, .profile-edit-btn, .profile-logout-btn {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 15px;
    font-weight: bold;
    padding: .575rem 3rem;
    line-height: 1.7rem;
    border-radius: 5px;
    text-decoration: none;
}

.profile-edit-btn {
    border: 2px solid #dbdbdb;
    color: #212529;
    margin-left: 0;
}

.profile-message-btn {
    border: 2px solid #4d4d4d;
    color: #4d4d4d;
}

.profile-message-btn:hover {
    text-decoration: none;
    color: black;
    border-color: black;
}

.profile-follow-btn:hover {
    text-decoration: none;
    color: #2bcb53;
    border-color: #2bcb53;
}

.profile-unfollow-btn:hover, .profile-logout-btn:hover {
    text-decoration: none;
    color: #fd273d;
    border-color: #fd273d;
}

.profile-follow-btn {
    color: #28a745;
    border: 2px solid #28a745;
}

.profile-unfollow-btn, .profile-logout-btn {
    color: #dc3545;
    border: 2px solid #dc3545;
}

.profile-settings-btn {
    font-size: 2rem;
    margin-left: 1rem;
}

.profile-stats, .profile-actions {
    margin-top: 2rem;
}

.profile-stats li {
    display: inline-block;
    font-size: 1.6rem;
    line-height: 1.5;
    margin-right: 4rem;
    cursor: pointer;
}

.profile-stats li:last-of-type {
    margin-right: 0;
}

.profile-bio {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 2.3rem;
}

.profile-real-name,
.profile-stat-count,
.profile-edit-btn {
    font-weight: 600;
}

.profile-username {
    display: flex;
    flex-direction: column;
}

/* Gallery Section */

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: -1rem -1rem;
    padding-bottom: 3rem;
}

.gallery-item {
    position: relative;
    flex: 1 0 22rem;
    margin: 1rem;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.gallery-item:hover .gallery-item-info,
.gallery-item:focus .gallery-item-info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.gallery-item-info {
    display: none;
}

.gallery-item-info li {
    display: inline-block;
    font-size: 1.7rem;
    font-weight: 600;
    color: #fff;
}

.gallery-item-likes {
    margin-right: 2.2rem;
}

.gallery-item-type {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2.5rem;
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}

.fa-clone,
.fa-comment {
    transform: rotateY(180deg);
}

.gallery-image {
    width: 300px;
    height: 300px;
    object-fit: scale-down;
}

.button-followers-modal {
    background-color: transparent;
    border: 0;
}

/* Media Query */

@media screen and (max-width: 768px) {
    .profile {
        display: block;
        flex-wrap: wrap;
        padding: 4rem 0;
    }

    .profile::after {
        display: none;
    }

    .profile-image {
        margin-right: 0;
    }

    .profile-image,
    .profile-user-settings,
    .profile-bio,
    .profile-stats {
        float: none;
        width: auto;
    }

    .profile-username{
        align-items: center;
        margin-top: 2rem;
    }

    .profile-user-settings, .profile-actions {
        justify-content: center;
        display: flex;
    }

    .profile-user-settings {
        display: flex;
        flex-wrap: wrap;
        margin-top: 1rem;
    }

    .profile-user-name {
        font-size: 2.2rem;
    }


    .profile-bio {
        font-size: 1.4rem;
        margin-top: 1.5rem;
    }

    .profile-bio,
    .profile-stats {
        flex-basis: 100%;
    }

    .profile-stats {
        order: 1;
        margin-top: 1.5rem;
    }

    .profile-stats ul {
        display: flex;
        text-align: center;
        padding: 1.2rem 0;
        border-top: 0.1rem solid #dadada;
        border-bottom: 0.1rem solid #dadada;
    }

    .profile-stats li {
        font-size: 1.4rem;
        flex: 1;
        margin: 0;
    }

    .profile-stat-count {
        display: block;
    }
}
