{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Picxel</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{% static 'images/favicon.svg' %}" type="image/x-icon">

        {% block styles %}
            <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">

            <link rel="stylesheet" type="text/css" href="{% static 'css/notification-box.css' %}">

            <link rel="stylesheet" type="text/css" href="{% static 'css/menu-icon.css' %}">

            <link rel="stylesheet"
                  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
                  integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
                  crossorigin="anonymous"
                  referrerpolicy="no-referrer"/>

            <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
              crossorigin="anonymous">
        {% endblock %}


        {% block scripts %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
                    integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
                    crossorigin="anonymous"
                    referrerpolicy="no-referrer">
            </script>

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                    crossorigin="anonymous"></script>

            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

            <script src="{% static "js/base.js" %}"></script>
        {% endblock %}

    </head>

    <body>

        <header class="header">
            <nav class="header__content">
                <div class="header__buttons">
                    <a href="{% url 'index' %}" class="nav-logo">
                        <img src="{% static 'images/logo.svg' %}" alt="logo">
                    </a>

                </div>

                <div class="header__search">
                    <input type="text" placeholder="Search" id="searchuserbar">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M21.669 21.6543C21.8625 21.4622 21.863 21.1494 21.6703 20.9566L17.3049 16.5913C18.7912 14.9327 19.7017 12.7525 19.7017 10.3508C19.7017 5.18819 15.5135 1 10.3508 1C5.18819 1 1 5.18819 1 10.3508C1 15.5135 5.18819 19.7017 10.3508 19.7017C12.7624 19.7017 14.9475 18.7813 16.606 17.2852L20.9739 21.653C21.1657 21.8449 21.4765 21.8454 21.669 21.6543ZM1.9843 10.3508C1.9843 5.7394 5.7394 1.9843 10.3508 1.9843C14.9623 1.9843 18.7174 5.7394 18.7174 10.3508C18.7174 14.9623 14.9623 18.7174 10.3508 18.7174C5.7394 18.7174 1.9843 14.9623 1.9843 10.3508Z" fill="#A5A5A5" stroke="#A5A5A5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <ul class="search-dropdown dropdown-menu dropdown-menu-left hidden" id="search-results"></ul>
                </div>

                <div class="header__buttons header__buttons--mobile">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle second-button" type="button" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
                            <div class="animated-icon2">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu dropdown-mobile" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="d-flex align-items-center dropdown-mobile-item" href="{% url 'newpost' %}">
                                    <svg color="#262626" fill="#262626" height="24" role="img" viewBox="0 0 24 24" width="24">
                                        <path d="M2 12v3.45c0 2.849.698 4.005 1.606 4.944.94.909 2.098 1.608 4.946 1.608h6.896c2.848 0 4.006-.7 4.946-1.608C21.302 19.455 22 18.3 22 15.45V8.552c0-2.849-.698-4.006-1.606-4.945C19.454 2.7 18.296 2 15.448 2H8.552c-2.848 0-4.006.699-4.946 1.607C2.698 4.547 2 5.703 2 8.552z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
                                        <line fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="6.545" x2="17.455" y1="12.001" y2="12.001"></line>
                                        <line fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="12.003" x2="12.003" y1="6.545" y2="17.455"></line>
                                    </svg>
                                    <span>New post</span>
                                </a>
                            </li>
                            <li>
                                <a class="d-flex align-items-center dropdown-mobile-item" href="{% url 'inbox' %}">
                                    <svg color="#262626" fill="#262626" height="24" viewBox="0 0 24 24" width="24">
                                        <line fill="none" stroke="#000" stroke-linejoin="round" stroke-width="2" x1="22" x2="9.218" y1="3" y2="10.083"></line>
                                        <polygon fill="none" points="11.698 20.334 22 3.001 2 3.001 9.218 10.084 11.698 20.334" stroke="currentColor" stroke-linejoin="round" stroke-width="2"></polygon>
                                    </svg>
                                    <span>Messages</span>
                                </a>
                            </li>
                            <li>
                                <a class="d-flex align-items-center dropdown-mobile-item" href="#">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11.4995 21.2609C11.1062 21.2609 10.7307 21.1362 10.4133 20.9001C8.2588 19.3012 3.10938 15.3239 1.81755 12.9143C0.127895 9.76543 1.14258 5.72131 4.07489 3.89968C5.02253 3.31177 6.09533 3 7.18601 3C8.81755 3 10.3508 3.66808 11.4995 4.85726C12.6483 3.66808 14.1815 3 15.8131 3C16.9038 3 17.9766 3.31177 18.9242 3.89968C21.8565 5.72131 22.8712 9.76543 21.186 12.9143C19.8942 15.3239 14.7448 19.3012 12.5902 20.9001C12.2684 21.1362 11.8929 21.2609 11.4995 21.2609ZM7.18601 4.33616C6.34565 4.33616 5.5187 4.57667 4.78562 5.03096C2.43888 6.49183 1.63428 9.74316 2.99763 12.2819C4.19558 14.5177 9.58639 18.6242 11.209 19.8267C11.3789 19.9514 11.6158 19.9514 11.7856 19.8267C13.4082 18.6197 18.799 14.5133 19.997 12.2819C21.3603 9.74316 20.5557 6.48738 18.209 5.03096C17.4804 4.57667 16.6534 4.33616 15.8131 4.33616C14.3425 4.33616 12.9657 5.04878 12.0359 6.28696L11.4995 7.00848L10.9631 6.28696C10.0334 5.04878 8.6611 4.33616 7.18601 4.33616Z" fill="var(--text-dark)" stroke="var(--text-dark)" stroke-width="0.6"/>
                                    </svg>
                                    <span>Notifications</span>
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="d-flex align-items-center dropdown-mobile-item post__avatar" href="{% url 'profile' user %}">
                                    <img src="{{ user.profile.profile_image.url }}" style="width: 23px;height: 23px;">
                                    <span>Your profile</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                </div>

                <div class="header__buttons header__buttons--desktop">

                    {% if user.is_authenticated %}

                        <a href="{% url 'newpost' %}">
                            <svg color="#262626" fill="#262626" height="24" role="img" viewBox="0 0 24 24" width="24">
                                <path d="M2 12v3.45c0 2.849.698 4.005 1.606 4.944.94.909 2.098 1.608 4.946 1.608h6.896c2.848 0 4.006-.7 4.946-1.608C21.302 19.455 22 18.3 22 15.45V8.552c0-2.849-.698-4.006-1.606-4.945C19.454 2.7 18.296 2 15.448 2H8.552c-2.848 0-4.006.699-4.946 1.607C2.698 4.547 2 5.703 2 8.552z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
                                <line fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="6.545" x2="17.455" y1="12.001" y2="12.001"></line>
                                <line fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="12.003" x2="12.003" y1="6.545" y2="17.455"></line>
                            </svg>
                        </a>

                        <div class="button_container">
                            <a href="{% url 'inbox' %}">
                                <svg color="#262626" fill="#262626" height="24" viewBox="0 0 24 24" width="24">
                                    <line fill="none" stroke="#000" stroke-linejoin="round" stroke-width="2" x1="22" x2="9.218" y1="3" y2="10.083"></line>
                                    <polygon fill="none" points="11.698 20.334 22 3.001 2 3.001 9.218 10.084 11.698 20.334" stroke="currentColor" stroke-linejoin="round" stroke-width="2"></polygon>
                                </svg>
                                {% if chat_count %}
                                    <div class="unread_message_container">
                                        <div class="unread_message_badge">
                                            <div class="unread_message_count">
                                                {{ chat_count }}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </a>
                        </div>


                        <div class="button_container">
                            <form action="{% url 'notifications' %}" id="{{ user }}" method="get" class="notification-form">
                                {% csrf_token %}
                                <input type="hidden" name="user" value="{{ user }}">
                                <button class="post__button">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11.4995 21.2609C11.1062 21.2609 10.7307 21.1362 10.4133 20.9001C8.2588 19.3012 3.10938 15.3239 1.81755 12.9143C0.127895 9.76543 1.14258 5.72131 4.07489 3.89968C5.02253 3.31177 6.09533 3 7.18601 3C8.81755 3 10.3508 3.66808 11.4995 4.85726C12.6483 3.66808 14.1815 3 15.8131 3C16.9038 3 17.9766 3.31177 18.9242 3.89968C21.8565 5.72131 22.8712 9.76543 21.186 12.9143C19.8942 15.3239 14.7448 19.3012 12.5902 20.9001C12.2684 21.1362 11.8929 21.2609 11.4995 21.2609ZM7.18601 4.33616C6.34565 4.33616 5.5187 4.57667 4.78562 5.03096C2.43888 6.49183 1.63428 9.74316 2.99763 12.2819C4.19558 14.5177 9.58639 18.6242 11.209 19.8267C11.3789 19.9514 11.6158 19.9514 11.7856 19.8267C13.4082 18.6197 18.799 14.5133 19.997 12.2819C21.3603 9.74316 20.5557 6.48738 18.209 5.03096C17.4804 4.57667 16.6534 4.33616 15.8131 4.33616C14.3425 4.33616 12.9657 5.04878 12.0359 6.28696L11.4995 7.00848L10.9631 6.28696C10.0334 5.04878 8.6611 4.33616 7.18601 4.33616Z" fill="var(--text-dark)" stroke="var(--text-dark)" stroke-width="0.6"/>#}
                                    </svg>
                                    {% if notifications_count %}
                                        <div class="unread_notification_container">
                                            <div class="unread_notifications_badge"></div>
                                        </div>
                                    {% endif %}
                                </button>
                                <div id="output" class="notification-dropdown hidden"></div>
                            </form>
                        </div>

                        <a href="{% url 'profile' user %}" class="post__avatar">
                            <img src="{{ user.profile.profile_image.url }}" style="width: 23px;height: 23px;">
                        </a>

                    {% else %}

                        <a href="{% url 'signin' %}">Login</a>
                        <a href="{% url 'signup' %}">Sign up</a>

                    {% endif %}

                </div>
            </nav>
        </header>


        {% block content %}

        {% endblock content %}

        {% load sweetify %}
        {% sweetify %}

    </body>

</html>