{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load sweetify %}

{% block content %}
    <main class="main-container">
        <section class="content-container d-flex justify-content-center">
            <div class="col-8">
                <h1 class="mb-5">Change profile password</h1>
                <form method="POST" enctype="multipart/form-data">
                    {% crispy form %}
                </form>
            </div>
        </section>
    </main>
{% endblock content %}