{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">

    <head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <meta http-equiv="X-UA-Compatible" content="ie=edge">
          <script src="https://kit.fontawesome.com/fc1e235b2e.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
          <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
                  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
                  crossorigin="anonymous">
          <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
          <title>Complete your registration - Picxel</title>
    </head>

    <body>
        <main class="main-container">
            <section class="content-container d-flex justify-content-center">
                <div class="col-8">
                    <h1>Complete your profile information</h1>
                    <form method="POST" enctype="multipart/form-data">
                        {% crispy form %}
                    </form>
                </div>
            </section>
        </main>
        {% load sweetify %}
        {% sweetify %}
    </body>

</html>