{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}



{% block content %}
    <main class="main-container">
        <section class="content-container d-flex justify-content-center">
            <div class="col-8">
                <h1 class="mb-5">Edit profile information</h1>
                <a href="{% url 'changepassword' %}" class="btn btn-warning mb-5">Change password</a>
                <form method="POST" enctype="multipart/form-data">
                    {% crispy form %}
                </form>
            </div>
        </section>
    </main>
{% endblock content %}