{% if likes == 1 %}
    <div class="avatars__one">
    {% for user in users %}
        <span class="post__likes-avatar n{{ forloop.counter }}">
            <img src="{{ user.profile.profile_image.url }}">
        </span>
    {% endfor %}
    </div>
{% elif likes == 2 %}
    <div class="avatars__two">
        {% for user in users %}
            <span class="post__likes-avatar n{{ forloop.counter }}">
                <img src="{{ user.profile.profile_image.url }}">
            </span>
        {% endfor %}
    </div>
{% elif likes >= 3 %}
    <div class="avatars__three">
        {% for user in users %}
            <span class="post__likes-avatar n{{ forloop.counter }}">
                <img src="{{ user.profile.profile_image.url }}">
            </span>
        {% endfor %}
    </div>
{% else %}
    <div class="avatars__zero"></div>
{% endif %}

