<div class="modal-header">
    <h5 class="modal-title" id="staticBackdropLabel">Users who liked the post</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    {% for profile in profiles %}
        <a class="d-flex align-items-center dropdown-item" href="{%  url 'profile' profile.username %}">
            <div class="post__avatar">
                <img src="{{ profile.profile.profile_image.url }}">
            </div>
            <div class="d-flex flex-column">
                <span class="dropdown-name">{{ profile.profile.first_name }} {{ profile.profile.last_name }}</span>
                <span class="dropdown-username">@{{ profile.username }}</span>
            </div>
        </a>
    {% endfor %}
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>
