{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}



{% block content %}
     <main class="main-container">
        <section class="content-container d-flex justify-content-center">
            <div class="col-8">
                <h1>Create a new post</h1>
                <form method="POST" enctype="multipart/form-data" class="mt-5">
                    {% crispy form %}
                </form>
            </div>
        </section>
     </main>
{% endblock content %}