{% extends 'base.html' %}
{% load static %}
{% load humanize %}


{% block content %}
     <main class="main-container">
        <section class="content-container d-flex justify-content-center">
            <div class="col-8">
                <h1>All notifications</h1>
                {% for notification in object_list %}
                    {% if notification.type == 1 %}
                        <a href="{% url 'post-detail' notification.post.id %}" class="notification-list-href">
                            <div class="card mb-3 notification-list-box">
                                <form class="text-end" method="POST" action="{% url "remove_notification" notification.pk %}">
                                   {% csrf_token %}
                                    <button class="remove-notification" type="submit" value="Delete">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </button>
                                </form>
                                <div class="row g-0 align-items-center">
                                    <div class="col-md-4 notification-list-img p-4">
                                        <img src="{{ notification.post.content.first.file.url }}">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body notification-list-body">
                                            <p class="card-text"><b>{{ notification.sender }}</b> liked your post!</p>
                                            <p class="card-text"><small class="text-muted">{{ notification.date | naturaltime }}</small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% elif notification.type == 2 %}
                        <a href="{% url 'post-detail' notification.post.id %}" class="notification-list-href">
                            <div class="card mb-3 notification-list-box">
                                <form class="text-end" method="POST" action="{% url "remove_notification" notification.pk %}">
                                   {% csrf_token %}
                                    <button class="remove-notification" type="submit" value="Delete">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </button>
                                </form>
                                <div class="row g-0 align-items-center">
                                    <div class="col-md-4 notification-list-img p-4">
                                        <img src="{{ notification.post.content.first.file.url }}" class="img-fluid rounded-start">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body notification-list-body">
                                            <p class="card-text"><b>{{ notification.sender }}</b> commented your post!</p>
                                            <p class="card-text"><small class="text-muted">{{ notification.date | naturaltime }}</small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% else %}
                        <a href="{% url 'profile' notification.sender %}" class="notification-list-href">
                            <div class="card mb-3 notification-list-box">
                                <form class="text-end" method="POST" action="{% url "remove_notification" notification.pk %}">
                                   {% csrf_token %}
                                    <button class="remove-notification" type="submit" value="Delete">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </button>
                                </form>
                                <div class="row g-0 align-items-center">
                                    <div class="col-md-4 notification-list-img p-4">
                                        <img src="{{ notification.sender.profile.profile_image.url }}" class="rounded-circle mr-1" style="object-fit: cover">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body notification-list-body">
                                            <p class="card-text"><b>{{ notification.sender }}</b> started following you!</p>
                                            <p class="card-text"><small class="text-muted">{{ notification.date | naturaltime }}</small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
                {% if object_list|length > 0 %}
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1&amp;{{ view.querystring }}">&laquo; first</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}&amp;{{ view.querystring }}">previous</a>
                            </li>
                        {% endif %}

                        {% for page_number in page_obj.paginator %}
                            {% if page_obj.number == page_number.number %}
                                <li class="page-item active">
                                    <a class="page-link" href="?page={{ page_number.number }}&amp;{{ view.querystring }}">{{ page_number.number }}</a>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_number.number }}&amp;{{ view.querystring }}">{{ page_number.number }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}&amp;{{ view.querystring }}">next</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&amp;{{ view.querystring }}">last &raquo;</a>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
        </section>
     </main>
{% endblock content %}