{% load humanize %}
<div class="inner-dropdown">
    <div class="card-header d-flex align-items-center justify-content-between">
        <h3 class="pt-2">Notifications</h3>
        <button id="close-notifications" class="close-notification-box">
            <i class="fa fa-times" aria-hidden="true"></i>
        </button>
    </div>
    {% if object_list.count > 0 %}
        {% for notification in object_list %}
              {% if notification.type == 1 %}
                    <div class="card-body">
                        <a href="{% url 'post-detail' notification.post.id %}" class="notification-detail">
                            <img class="post-image" src="{{ notification.post.content.first.file.url }}">
                            <p class="notification-text">
                                <b>{{ notification.sender }}</b> liked your post!
                                <br>
                                <span class="notification-date">{{ notification.date | naturaltime }}</span>
                            </p>
                        </a>
                    </div>
              {% elif notification.type == 2 %}
                  <div class="card-body">
                        <a href="{% url 'post-detail' notification.post.id %}" class="notification-detail">
                            <img class="post-image" src="{{ notification.post.content.first.file.url }}">
                            <p class="notification-text">
                                <b>{{ notification.sender }}</b> commented your post!
                                <br>
                                <span class="notification-date">{{ notification.date | naturaltime }}</span>
                            </p>
                        </a>
                  </div>
              {% else %}
                    <div class="card-body">
                        <a href="{% url 'profile' notification.sender %}" class="notification-detail">
                            <img class="post-image" src="{{ notification.sender.profile.profile_image.url }}">
                            <p class="notification-text">
                                <b>{{ notification.sender }}</b> started following you!
                                <br>
                                <span class="notification-date">{{ notification.date | naturaltime }}</span>
                            </p>
                        </a>
                    </div>
              {% endif %}
        {% endfor %}
        <div class="card-header bottom-notification">
            <a href="{% url 'notifications_list' %}" class="view-all">View all notifications...</a>
        </div>
    {% else %}
        <div class="card-body">
            <p class="notification-text">Nessuna notifica da visualizzare.</p>
        </div>
    {% endif %}
</div>
