{% extends 'base.html' %}
{% load static %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
    <main class="main-container">
        <section class="content-container d-block">

            <h1>Post featured with tag #{{ tag }}</h1>
            <div class="row">
                {% for post in object_list %}
                    <div class="col-md-4 col-12">
                        <a href="{% url 'post-detail' post.id %}" class="gallery-item">
                            <img src="{{ post.content.first.file.url }}" class="gallery-image" alt="">
                            <div class="gallery-item-info">
                                <ul>
                                    <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span>
                                        <i class="fas fa-heart" aria-hidden="true"></i> {{ post.likes }}
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>

        </section>
    </main>

{%  endblock content %}