{% extends 'base.html' %}
{% load static %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static "js/posts.js" %}"></script>
{% endblock %}

{% block content %}
    <main class="main-container">
        <section class="content-container">
            <div class="content">

                <div class="modal fade"
                     id="likedBy"
                     data-bs-backdrop="static"
                     data-bs-keyboard="false"
                     tabindex="-1"
                     aria-hidden="true"
                >
                  <div class="modal-dialog">
                    <div class="modal-content" id="likedbycontent">
                    </div>
                  </div>
                </div>


                <div class="posts">
                    <article class="post">
                        <div class="post__header">
                            <div class="post__profile">
                                <a class="post__avatar">
                                    <img src="{{ post.user.profile.profile_image.url }}" alt="User Picture">
                                </a>
                                <a href="{% url 'profile' post.user.username %}" class="post__user">{{ post.user.username }}</a>
                            </div>
                        </div>


                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="false" data-bs-interval="false">
                            <div class="carousel-inner">
                                {% for image in post.content.all %}
                                    <div class="carousel-item {% if post.content.first == image %} active {% endif %}">
                                        {% if image.file.name|slice:"-3:" == 'jpg' or  image.file.name|slice:"-3:" == 'png' %}
                                                <img class="post__media" src="{{ image.file.url }}" alt="Post Content">
                                        {% else %}
                                            <video width="614" controls="controls" preload="metadata">
                                                <source src="{{ image.file.url }}#t=0.5" type="video/mp4">
                                            </video>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                            {% if post.content.count > 1 %}
                                 <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                 </button>
                                 <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                 </button>
                            {% endif %}
                        </div>


                        <div class="post__footer">
                            <div class="post__buttons">
                                <form action="{% url 'post-like' post.id %}" id="{{ post.id }}" method="post" class="like-form">
                                    {% csrf_token %}
                                    <input type="hidden" name="post_id" value="{{ post.id }}">
                                    <input type="hidden" name="user" value="{{ logged_user }}">
                                    <button class="post__button">
                                        {% if logged_user in post.liked_by.all %}
                                            <svg id="likebtn_{{ post.id }}" class="liked" width="24" height="24" viewBox="0 0 48 48" role="img">
                                                <path style="stroke-width: 0" d="M34.6 3.1c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5s1.1-.2 1.6-.5c1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z" stroke-width="none"></path>
                                            </svg>
                                        {% else %}
                                            <svg id="likebtn_{{ post.id }}" class="notliked" width="24" height="24" viewBox="0 0 24 24" role="img">
                                                <path style="stroke-width: 0" d="M16.792 3.904A4.989 4.989 0 0121.5 9.122c0 3.072-2.652 4.959-5.197 7.222-2.512 2.243-3.865 3.469-4.303 3.752-.477-.309-2.143-1.823-4.303-3.752C5.141 14.072 2.5 12.167 2.5 9.122a4.989 4.989 0 014.708-5.218 4.21 4.21 0 013.675 1.941c.84 1.175.98 1.763 1.12 1.763s.278-.588 1.11-1.766a4.17 4.17 0 013.679-1.938m0-2a6.04 6.04 0 00-4.797 2.127 6.052 6.052 0 00-4.787-2.127A6.985 6.985 0 00.5 9.122c0 3.61 2.55 5.827 5.015 7.97.283.246.569.494.853.747l1.027.918a44.998 44.998 0 003.518 3.018 2 2 0 002.174 0 45.263 45.263 0 003.626-3.115l.922-.824c.293-.26.59-.519.885-.774 2.334-2.025 4.98-4.32 4.98-7.94a6.985 6.985 0 00-6.708-7.218z" stroke-width="none"></path>
                                            </svg>
                                        {% endif %}
                                    </button>
                                </form>

                                <form action="{% url 'post-favourite' post.id %}" id="{{ post.id }}" method="post" class="save-form post__button--align-right">
                                    {% csrf_token %}
                                    <input type="hidden" name="post_id" value="{{ post.id }}">
                                    <button class="post__button post__button--align-right">
                                        {% if post in logged_user.profile.favourites.all %}
{#                                                bottone nero #}
                                            <svg id="savebtn_{{ post.id }}" class="saved" height="24" viewBox="0 0 24 24" width="24">
                                                <path d="M20 22a.999.999 0 01-.687-.273L12 14.815l-7.313 6.912A1 1 0 013 21V3a1 1 0 011-1h16a1 1 0 011 1v18a1 1 0 01-1 1z"></path>
                                            </svg>
                                        {% else %}
{#                                                bottone vuoto #}
                                            <svg id="savebtn_{{ post.id }}" class="notsaved" height="24" viewBox="0 0 24 24" width="24">
                                                <path d="M20 21 12 13.44 4 21 4 3 20 3 20 21z"></path>
                                            </svg>
                                        {% endif %}
                                    </button>

                                </form>

                            </div>

                            <div class="post__infos">
                                <div class="post_likes_container d-flex">
                                    <div class="post__likes" id="post__likes{{ post.id }}">
                                        {# Questi div vengono sostituiti in base al numero (vedi likedby.html) #}
                                        {% if post.liked_by.all.count == 1 %}
                                            <div class="avatars__one">
                                                {% for user in post.liked_by.all %}
                                                    <span class="post__likes-avatar n{{ forloop.counter }}">
                                                    <img src="{{ user.profile.profile_image.url }}">
                                                </span>
                                                {% endfor %}
                                            </div>
                                        {% elif post.liked_by.all.count == 2 %}
                                            <div class="avatars__two">
                                                {% for user in post.liked_by.all %}
                                                    <span class="post__likes-avatar n{{ forloop.counter }}">
                                                        <img src="{{ user.profile.profile_image.url }}">
                                                    </span>
                                                {% endfor %}
                                            </div>
                                        {% elif post.liked_by.all.count >= 3 %}
                                            <div class="avatars__three">
                                                {% for user in post.liked_by.all %}
                                                    <span class="post__likes-avatar n{{ forloop.counter }}">
                                                        <img src="{{ user.profile.profile_image.url }}">
                                                    </span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            <div class="avatars__zero"></div>
                                        {% endif %}
                                    </div>

                                    {# Cambio la scritta in base a quanti like ci sono #}
                                    {% if post.liked_by.all.count >= 1 %}
                                        <form action="{% url 'post-likedby' post.id %}" id="{{ post.id }}" method="post"
                                              class="likedby-form">
                                            {% csrf_token %}
                                            <input type="hidden" name="post_id" value="{{ post.id }}">
                                            <button type="submit" data-bs-toggle="modal" data-bs-target="#likedBy"
                                                    class="likes-modal-button" id="likesmodalbutton_{{ post.id }}">
                                                {% if post.liked_by.all.count >= 2 %}
                                                    <span>Liked by
                                                        <b>
                                                            <span id="like_count{{ post.id }}">{{ post.liked_by.count }}</span> persons
                                                        </b>
                                                    </span>
                                                {% elif post.liked_by.all.count == 1 %}
                                                    <span>Liked by
                                                        <b>
                                                            <span id="like_count{{ post.id }}">{{ post.liked_by.count }}</span> person
                                                        </b>
                                                    </span>
                                                {% endif %}
                                            </button>
                                        </form>
                                    {% else %}
                                        <div class="likedby-form">
                                            <button class="likes-modal-button" id="likesmodalbutton_{{ post.id }}">
                                                <span>Nobody liked this post yet</span>
                                            </button>
                                        </div>
                                    {% endif %}

                                </div>

                                <div class="post__description">
                                    <span>
                                        <a class="post__name--underline" href="{% url 'profile' post.user.username %}">{{ post.user.username }}</a>
                                        {{ post.caption }}
                                    </span>
                                </div>

                                <div class="post__tags">
                                    <span>
                                        {% for tag in post.tag.all %}
                                            <a class="post__tag" href="{{ tag.get_absolute_url }}">#{{ tag }}</a>
                                            <span> </span>
                                        {% endfor %}
                                    </span>
                                </div>

                                <span class="post__date-time">{{ post.date|date:"d M Y" }}</span>
                            </div>
                        </div>

                        {% for comment in comments %}
                            <div class="mt-1">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="bg-white p-2">
                                            <div class="d-flex flex-row user-info">
                                                <img class="rounded-circle" src="{{comment.user.profile.profile_image.url}}" width="30" height="30">
                                                <a href="{% url 'profile' comment.user %}" class="comment-info">
                                                    <div class="d-flex flex-column justify-content-start ml-2">
                                                        <span class="d-block font-weight-bold name">{{comment.user.username}}</span>
                                                        <span class="date text-black-50"> {{comment.date | date:"d M, Y"}}</span>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="comment-block">
                                                <p class="comment-text">{{ comment.body }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        {% if user.is_authenticated %}
                            <div class="mt-1">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="comment-section">
                                            <a href="{% url 'profile' user.username %}" target="_blank" class="post__avatar">
                                                <img src="{{ user.profile.profile_image.url }}" alt="User Picture">
                                            </a>
                                            <form class="comment-form" method="POST">
                                                {% csrf_token %}
                                                {{ form.body }}
                                                <button class="comment-button" type="submit">Post</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </article>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}