{% extends 'base.html' %}
{% load static %}
{% load follow_filter %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
    {{ block.super }}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/profile.js' %}"></script>
{% endblock %}

{% block content %}

            <header>
                <br><br><br>
                <div class="container">
                    {# Modale per mostrare i followers #}
                    <div class="modal fade"
                         id="followers"
                         data-bs-backdrop="static"
                         data-bs-keyboard="false"
                         tabindex="-1"
                         aria-hidden="true"
                    >
                        <div class="modal-dialog">
                            <div class="modal-content" id="followerscontent">
                            </div>
                        </div>
                    </div>

                    <div class="profile">

                        <div class="profile-image">
                            <img src="{{ profile.profile_image.url }}" alt="">
                        </div>

                        <div class="profile-username">
                            <h5 class="profile-user-name">{{ profile.first_name }} {{ profile.last_name }}</h5>
                            <h6 style="font-size: 15px;" class="profile-user-name">@{{ profile.user.username }}</h6>
                        </div>

                        <div class="profile-actions">
                            {% if request.user != profile.user %}
                                {% if follow_status %}
                                    <a href="{% url 'follow' profile.user %}" class="profile-unfollow-btn mr-4">Unfollow</a>
                                {% else %}
                                    <a href="{% url 'follow' profile.user %}" class="profile-follow-btn mr-4">Follow</a>
                               {% endif %}
                            {% endif %}

                            {% if request.user != profile.user %}
                                <a href="{% url 'newmessage' profile.user %}" class="profile-message-btn">Message</a>
                            {% endif %}
                        </div>


                        <div class="profile-user-settings">
                            {% if request.user == profile.user %}
                                <a style="text-decoration: none;" href="{% url 'editprofile' %}" class="profile-edit-btn">Edit Profile</a>
                                <a style="text-decoration: none;" href="{% url 'profilestats' %}" class="profile-edit-btn">View statistics</a>
                                <a style="text-decoration: none;" href="{% url 'signout' %}" class="profile-logout-btn">Logout</a>
                            {% endif %}
                        </div>

                        <div class="profile-stats">
                            <ul class="ps-0">
                                <li style="cursor:default"><span class="profile-stat-count">{{ profile.get_posts_count }}</span> posts</li>
                                <li>
                                    <form action="{% url 'followers-modal' profile.user.username %}" method="post" class="followers-form">
                                        {% csrf_token %}
                                        <button type="submit" data-bs-toggle="modal" data-bs-target="#followers" class="button-followers-modal">
                                            <span class="profile-stat-count">{{ profile.get_followers_count }}</span> followers
                                        </button>
                                    </form>
                                </li>
                                <li>
                                    <form action="{% url 'following-modal' profile.user.username %}" method="post" class="following-form">
                                        {% csrf_token %}
                                        <button type="submit" data-bs-toggle="modal" data-bs-target="#followers" class="button-followers-modal">
                                            <span class="profile-stat-count">{{ profile.get_following_count }}</span> following
                                        </button>
                                    </form>
                                </li>
                            </ul>
                        </div>

                        <div class="profile-bio">
                            {% if profile.profile_info %}
                                <p><i class="fa-solid fa-circle-info me-3"></i>{{ profile.profile_info }}</p>
                            {% endif %}
                            {% if profile.location %}
                                <p><i class="fa-solid fa-city me-3"></i>{{ profile.location }}</p>
                            {% endif %}
                            {% if profile.url %}
                                <p><i class="fa-solid fa-globe me-3"></i><a href="{{ profile.url }}">{{ profile.url }}</a>
                                </p>
                            {% endif %}

                            <div class="profile-user-settings">
                                {% if request.user == profile.user %}
                                    <a href="{% url 'profile' profile.user %}" class="btns profile-edit-btn">Posts</a>
                                    <a href="{% url 'favourite' profile.user %}" class="btns profile-edit-btn">Saved</a>
                                {% endif %}
                            </div>
                        </div>

                    </div>
                    <!-- End of profile section -->
                </div>
                <!-- End of container -->
            </header>

            <main>
                <div class="container">
                    <div class="row d-flex align-items-center">
                        {% for post in posts %}
                            <div class="col-md-4 col-12 d-flex justify-content-center">
                                <a href="{% url 'post-detail' post.id %}">
                                    <div class="gallery-item" tabindex="0">
                                        {% if post.content.first.file.name|slice:"-3:" == 'jpg' or  post.content.first.file.name|slice:"-3:" == 'png' %}
                                            <img class="gallery-image" src="{{ post.content.first.file.url }}"
                                                 alt="Post Content">
                                        {% else %}
                                            <video class="gallery-image" controls="controls" preload="metadata" style="width: 100%">
                                                <source src="{{ post.content.first.file.url }}#t=0.5" type="video/mp4">
                                            </video>
                                        {% endif %}
                                        <div class="gallery-item-info">
                                            <ul>
                                                <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span>
                                                    <i class="fas fa-heart" aria-hidden="true"></i> {{ post.likes }}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            {% empty %}
                            <div class="col-12 d-flex justify-content-center">
                                <p style="font-size: 19px">No posts yet.</p>
                            </div>
                        {% endfor %}
                    </div>
                    <!-- End of gallery -->
                </div>
        <!-- End of container -->
            </main>
{% endblock content %}