{% extends 'base.html' %}
{% load static %}

{% block scripts %}

    {{ block.super }}

    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"
            integrity="sha256-+8RZJua0aEWg+QVVKg4LEzEEm/8RFez5Tb4JBNiV5xA="
            crossorigin="anonymous"></script>

    <script src="{% static "js/statistics.js" %}"></script>

{% endblock %}

{% block content %}

    <main class="main-container">
        <section class="content-container d-block">
            <h1>Your statistics</h1>
            <div class="row mt-5">
                <div class="col-6">
                    <input type="hidden" id="likesData" value="{{ likes }}">
                    <canvas id="myLikesChart" width="400" height="400"></canvas>
                </div>
                <div class="col-6">
                    <input type="hidden" id="followersData" value="{{ followers }}">
                    <canvas id="myFollowersChart" width="400" height="400"></canvas>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-6">
                    <input type="hidden" id="postsData" value="{{ posts }}">
                    <canvas id="myPostsChart" width="400" height="400"></canvas>
                </div>
                <div class="col-6">
                    <input type="hidden" id="followingData" value="{{ following }}">
                    <canvas id="myFollowingChart" width="400" height="400"></canvas>
                </div>
            </div>
        </section>
    </main>

{% endblock %}