{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/fc1e235b2e.js"></script>
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
              crossorigin="anonymous">
  <title>Picxel Login Form</title>
</head>

<body>

    <div id="wrapper">
        <div class="container">
            <div class="phone-app-demo"></div>
            <div class="form-data">
                <form method='POST'>
                    <div class="logo">
                        <img src="{% static 'images/logo.svg' %}" alt="logo">
                    </div>
                    {% crispy form %}
                </form>
                <div class="sign-up">
                    Don't have an account? <a href="{% url 'signup' %}">Sign up</a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>